.tasks-section {
  background-color: white;
  padding-bottom: 30px;
  min-height: 80vh;
}

.tasks-container-header {
  width: 70%;
  background-color: white;
  text-align: center;
  padding-top: 30px;
  color: $primary-color;
  margin: auto;
}

.task-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 16px;
}

.tasks-list {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.task-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;
  border: 1px solid $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  height: 100%;
  align-content: flex-start;
  width: 100%;
  &:hover {
    box-shadow: 5px 5px 3px #ACA7A6;
  }
}

.task-card .task-description {
  height: 30%;
  padding: 16px;
}

.task-card .task-title a {
  height: 20%;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.task-card figure {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: $secondary-color;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-card figure .fas {
  font-size: 35px;
}
