.devise-body {
  background-color: $primary-color;
  height: 100vh;
  position: relative;
  background-image: url(background.png);
  background-repeat: repeat;
}

.devise-form {
  background-color: white;
  z-index: 2;
}
