.new-entry-picture {
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;
  margin-top: -200px;
}

@media (max-width: 525px) {
  .new-entry-picture {
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;
  margin-top: -100px;
  }
}

@media (max-width: 370px) {
  .new-entry-picture {
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;
  margin-top: -50px;
  }
}


span.meet-jrnld {
  color: gray;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: $primary-color;
  min-height: 100vh;
  width: 100%;
  // background-image: url(background.png);
  // background-repeat: repeat;
}

.banner h3 {
  text-align: center;
  color: white;
  font-weight: light;
  margin: 16px 64px;
  line-height: 56px;
  font-size: 48px;
}

.banner p {
  color: white;
  opacity: 0.8;
}

.banner .log-in a {
  color: white;
  font-weight: bold;
  &:hover {
    color: white;
  }
}

// Banner-specific CSS
.banner p {
  margin-bottom: 4px;
}

.banner .btn-ghost {
  margin: 52px 0px;
}

// Features-specific CSS
.features-section {
  background-color: white;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-right: 30px;
  padding-left: 30px;
}

.features-container-header {
  width: 70%;
  background-color: white;
  text-align: center;
  padding-top: 30px;
  color: $primary-color;
  margin: auto;
}

.feature-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 16px;
}

.features-list {
  display: flex;
  justify-content: space-between;

}

.feature-card {
  background-color: white;
  opacity: 0.8;
  border: 1px solid $secondary-color;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px;
  width: 100%;
  box-shadow: 2px 2px 2px $secondary-color;
  height: 100%;
  align-content: flex-start;
}

.feature-card .feature-description {
  height: 30%;
  padding: 16px;
}

.feature-card .feature-title {
  padding: 16px;
  height: 10%;
}

.feature-card figure {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: $secondary-color;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.feature-card figure .fas {
  font-size: 35px;
}

//Map section CSS
.map-section {
  background-color: #891b0040;
  padding-top: 100px;
  padding-bottom: 60px;
  color: white;
}

.maps-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 16px;
  margin: 16px;
}

.maps-container .fas {
  font-size: 28px;
}

.map-image {
  border-radius: 2px;
  box-shadow: 2px 2px 2px gray;
}

.analytics-image {
  border-radius: 2px;
  border: 1px solid $secondary-color;
  box-shadow: 2px 2px 2px 2px $secondary-color;
}
.analytics-section {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 60px;
  padding-right: 30px;
  padding-left: 30px;
}

.other-image {
  box-shadow: 7px 7px 16px 0px rgba(122,120,122,0.72);
  border-radius: 2px;
}

.contact-section {
  background-color: white;
}

.contact-card {
  a {
  text-decoration: none;
  color: black;
    &:hover {
      font-weight: bold;
    }
  }
  img {
    display: none;
  }
}

@media (min-width: 768px) {
  .contact-card {
  img {
    height: 100px;
    display: inline;
  }
}
}

.additional-section {
  background-color: #891b0040;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}

.additional-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 16px;
  margin: 16px;
  color: black;
}

.contact-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

