#new-entry {
  background-color: white;
  border-radius: $rounded;
}

.no-border {
  border: 0px;
}

[class^='select2'] {
  border: 0px !important;
}

.select2-results__options {
  border: 1px solid #5897fb !important;
  border-radius: 4px;
  opacity: 0.7;
}

.select2-selection__choice {
  background-color: $primary-color !important;
  color: white;
  // font-size: 0.9em;

  .select2-selection__choice__remove {
    color: white !important;
  }

}

.select2-search__field {
  padding-left: 0.5em !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0;
}

#input-entry-page {
  &::placeholder {
    padding-left: 24px;
  }
}

#input-entry-page-icons {
  .ap-icon-pin {
    left: 16px !important;
  }

  .ap-icon-clear {
    right: 8px;
  }
}
