#new-edit-entry {
  background-color: white;
}

// .no-border {
//   border: 0px;
// }

[class^='select2'] {
  border: 0px !important;
}

.reminder-divider {
  border-top: 2px solid $primary-color;

  p {
    padding-top: 20px;
  }
}

.select2-results__options {
    border: 1px solid #af6353 !important;
    border-radius: 4px;
    opacity: 0.7;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #af6353 !important;
    color: white;
}

.select2-selection__choice {
  background-color: $primary-color !important;
  color: white;
  font-size: 0.9em;
  padding: 0.25rem 0.5rem !important;

  .select2-selection__choice__remove {
    color: white !important;
  }

}

.select2-search__field {
  padding-left: 0.5em !important;
  width: 100% !important;
}


#input-entry-page-edit {
  padding-left: 8px;
}

#input-entry-page-icons {
  .ap-icon-pin {
    left: 8px !important;
  }
  .ap-icon-clear {
    right: 8px;
  }
}

@media (min-width: 992px) {
  .reminder-divider {
    border-top: 0;
    border-right: 2px solid $primary-color;
  }

  p {
    padding-top: 0px;
  }
}

@media (max-width: 992px) {
  .reminder-divider {
    border-top: 2px solid $primary-color;

    p {
      padding-top: 0px;
    }
  }
}

.title-place {
  border-bottom: 1px $primary-color solid !important;
  border-radius: 0px;
}

.reminders-container span {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .reminders-container {
    border-bottom: 2px $secondary-color solid;
  }
}

@media (max-width: 992px) {
  .tags-container {
    border-bottom: 2px $secondary-color solid;
  }
  .reminders-container {
    margin-top: 20px;
  }
}

span.tag-label {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.borderless {
  &.title {
    font-size: 24px;
  }
  &:focus {
    box-shadow: 0 0 0 0;
    border: none;
  }
  &:valid {
    border: none;
  }  &:valid:focus {
    box-shadow: 0 0 0 0;
  }
}

.location-form {
  padding-left: 24px;
}

.entry-form :first-child {
  margin-bottom: 0px;
}

#entry_title {
  font-size: 22px;
}

.camera {
  color: #D3D3D3;
  font-size: 40px;
  cursor: pointer;
   i:hover{
  color: $primary-color;
  font-size: 40px;
  cursor: pointer;
  }
}

.new-entry-card {
  padding: 25px;
  border: 1px solid $primary-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ap-input:hover ~ .ap-input-icon svg,
.ap-input:focus ~ .ap-input-icon svg,
.ap-input-icon:hover svg,
.ap-input-icon svg {
    fill: $primary-color;
}

.content-box {
  border-bottom: 2px $primary-color solid !important;
  border-radius: 0px !important;
  font-size: 18px;
}

input#input-entry-page {
  font-style: italic;
  padding-right: 8px;
}

.fa-arrow-left#entry-back {
    color: #891b00;
    font-size: 24px;
    opacity: 1;
  }

@media (max-width: 500px) {
  #new-entry-camera {
    font-size: 0.96em
  }
}
