.reminder {
  text-decoration: none;
  transition: all .2s ease-in-out;
  text-align: center;
  &:hover {
    transform: scale(1.1)
  }
}

.reminder.active {
    background-color: #891B00;
    color: white;
}


.reminder-label {

}

.reminder-check {
  display: none;
}

#plus-reminder {
  color: #891B00;
  width: 32px;
  height: 32px;
  &:hover {
    transform: scale(1.15)
  }
}

#reminder-title {
  font-size: 2em;
  border: 0;
  width: 100%;
}
