.reminder {
  text-decoration: none;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1)
  }
}

.reminder.active {
    background-color: #891B00;
    color: white;
}


.reminder-label {
}

.reminder-check {
  display: none;
}

