.profile-container {
  background-color: $secondary-color;
  h2 {
    color: $primary-color;
    padding-top: 32px;
    padding-bottom: 16px;
  }
}

.profile-information {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  margin: auto;
  background: white;
  padding: 0px;
}

.profile-information .avatar-large {
  margin: auto;
}

.edit-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile-reminders {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  margin: auto;
  background: white;
  padding: 0px;
}

.profile-header {
  width: 100%;
  background-color: white;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 20px;
  color: $primary-color;
}

.reminders-list {
  padding: 0px;
}

.edit-content {
  padding-left: 15px;
  width: 90%;
}

.reminders-list .btn-solid:hover {
  opacity: 1;
}

.profile-container form {
  width: 90%;
}

.form-control input {
  background-color: white;
}

.profile-link {
  color: black;
  opacity: 0.7;
  &:hover {
    color: black;
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
  }
}

.profile-container .form-control {
  border: 1px solid $secondary-color;
  background-image: none;
  &:focus {
  outline: none;
  border: 2px solid $secondary-color;
  box-shadow: none;
  }
}
