.profile-container {
  background-color: white;
  h2 {
    color: $primary-color;
    padding-top: 32px;
    padding-bottom: 16px;
  }
}

.profile-information {
  display: flex;
  padding: 0px;
}

.profile-information .avatar-large {
  margin: auto;
}

.edit-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile-settings {
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  margin: auto 0px;
}

.profile-reminders {
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  // margin: 0 16px;
  background: white;
}

.profile-header {
  width: 100%;
  background-color: white;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $primary-color;
}

.reminders-list .btn-solid:hover {
  opacity: 1;
}

.form-control input {
  background-color: white;
}

.profile-link {
  color: black;
  opacity: 0.7;
  &:hover {
    color: black;
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
  }
}

.profile-container .form-control {
  border: 1px solid $secondary-color;
  background-image: none;
  &:focus {
  outline: none;
  border: 2px solid $secondary-color;
  box-shadow: none;
  }
}

@media (max-width: 576px) {
  .profile-container .profile-information .profile-reminders #plus-reminder {
    display: none;
  }
}
