.individual-entry-container {
  max-width: 900px;
  margin: 0 auto;
}

.entry-text {
  color: gray;
}


.entry-title h1{
  text-align: left;
  padding-top: 30px;
  color: black;
}

.entry-location span {
  color: $primary-color;
}

.analytics-container {
  border-right: 2px $secondary-color solid;
}


.pie-chart {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: gray;
}
