<div class="tasks-section mt-5 d-flex flex-column justify-content-center height-100">
  <div class="tasks-container-header">
    <h4>Simple. Smart. Secure. </h4>
  </div>
  <div class="task-container">
    <div class="tasks-list row justify-content-center">
      <div class="task-container col-lg-4 col-sm-7 col-11">
        <div class="task-card">
          <figure>
            <i class="fas fa-edit"></i>
          </figure>
           <h3 class="task-title"><%= link_to "Start new entry", new_entry_path %></h3>
           <p class="task-description">Capture daily thoughts, emotions and images.</p>
        </div>
      </div>
      <div class="task-container col-lg-4 col-sm-7 col-11">
        <div class="task-card">
          <figure>
            <i class="fas fa-list"></i>
          </figure>
          <h3 class="task-title"><%= link_to "View all entries", entries_path %></h3>
          <p class="task-description">View or search for journal entries.</p>
        </div>
      </div>
      <div class="task-container col-lg-4 col-sm-7 col-11">
        <div class="task-card">
          <figure>
            <i class="fas fa-chart-bar"></i>
          </figure>
          <h3 class="task-title"><%= link_to "My analytics", analytics_path(current_user) %></h3>
          <p class="task-description">Get insights from JRNLD analytics.</p>
        </div>
      </div>
    </div>
  </div>
</div>
