<ul class="feedback mb-3" id="emoji-list">
  <% case emoji %>
  <% when "angry" %>
    <li class="angry active">
            <div>
              <svg class="eye left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                </svg>
              </svg>
              <svg class="eye right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                </svg>                    </svg>
                <svg class="mouth">

                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
                    <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
                  </svg>                    </svg>
                </div>
    </li>
  <% when "sad" %>
    <li class="sad active">
    <div>
      <svg class="eye left">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
          <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
        </svg>                    </svg>
        <svg class="eye right">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
            <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
          </svg>                    </svg>
          <svg class="mouth">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
              <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
            </svg>                    </svg>
          </div>
    </li>
  <% when "ok" %>
    <li class="ok active">
      <div>

      </div>
    </li>
  <% when "good" %>
    <li class="good active">
      <div>
         <svg class="eye left">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
             <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
           </svg>                    </svg>
           <svg class="eye right">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
               <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
             </svg>                    </svg>
             <svg class="mouth">

               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
                 <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
               </svg>                    </svg>
      </div>
    </li>
  <% else %>
    <li class="happy active">
      <div>
        <svg class="eye left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
            <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
          </svg>                    </svg>
          <svg class="eye right">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
              <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
            </svg>                    </svg>
      </div>
    </li>
  <% end %>
</ul>
