<% if notice %>
<div class="alert alert-info alert-dismissible fade show m-1" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>
<% if alert %>
<div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
  <%= alert %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<script>
  // $(".alert" ).fadeOut(3000);
  var myVar;

  function myFunction() {
    myVar = setTimeout(alertFunc, 3000);
  }

  function alertFunc() {
    console.log("something 2")
    const alrt = document.querySelector(".alert")
    alrt.classList.add("d-none")
  }
  myFunction()
</script>
