<div class="footer mt-auto py-4">
  <div class="footer-links">
    <!-- <a href="#"><i class="fab fa-github"></i></a> -->
    <a href="https://www.instagram.com/jrnld.co/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/jrnld.co/"><i class="fab fa-facebook"></i></a>
    <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
    <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    Copyright &copy; <%= Date.today.strftime('%Y') %> JRNLD
  </div>
</div>
