<div class="container mt-5 p-3 bg-white">
  <p>This should be an image with the jrnld logo</p>
  <h1>Please wait!</h1>
  <h2>Your entry's analytics are being processed.</h2>
  <h3>Try again in 10 seconds.</h3>
</div>
