<div class="col-lg-3 col-md-6 text-center contact-card mb-4">
    <%= image_tag photo, class: "pb-3" %>
    <h5 class="mb-1"><%= location %></h5>
    <div class="pb-2"><i class="fas fa-phone-square-alt"></i> <a href="tel:<%= phone %>"><%= phone %></a></div>
</div>
