<div class="banner mt-5">
  <div class="banner-content">
    <h3>A journal made for the modern world</h3>
    <a class="btn btn-ghost" href="/users/sign_up">Start for free</a>
    <p>Already a member?</p>
    <p class="log-in"><%= link_to "Log-in to your account", root_path %></p>
  </div>
</div>

<div class="video-container">
  <div class="video-card">
    <p>Here will be a video</p>
  </div>
</div>

<div class="features-section">
  <div class="features-container-header">
    <h4>Personal. Smart. Secure. </h4>
  </div>

  <div class="feature-container">
    <div class="features-list row justify-content-center">
      <div class="feature-container col-lg-4 col-sm-7 col-11">
        <div class="feature-card">
          <figure>
            <i class="fas fa-brain"></i>
          </figure>
          <h3 class="feature-title">Capture your thoughts</h3>
          <p class="feature-description">Personlize your daily, weekly and monthly prompts to capture your thoughts, feelings, pictures and ideas or just start writing whatever comes to your mind.</p>
        </div>
      </div>
      <div class="feature-container col-lg-4 col-sm-7 col-11">
        <div class="feature-card">
          <figure>
            <i class="fas fa-chart-bar"></i>
          </figure>
          <h3 class="feature-title">Secure and smart analytics</h3>
          <p class="feature-description">Get insights on your emotions and behaviour and track your personal data thanks to our smart word recognition technology.</p>
        </div>
      </div>
      <div class="feature-container col-lg-4 col-sm-7 col-11">
        <div class="feature-card">
          <figure>
            <i class="fas fa-lightbulb"></i>
          </figure>
          <h3 class="feature-title">Self-awareness</h3>
          <p class="feature-description">Description of feature 1 lorem ipsum of feature 1 lorem ipsum of feature 1 lorem ipsum of feature 1 lorem ipsum</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="benefits-section">
  <div class="benefits row justify-content-center">
    <div class="benefits-container col-lg-7 col-md-7 col-12">
      <div class="benefits-container-header">
        <h4>The benefits of journaling</h4>
      </div>
      <div class="benefits-list">
        <div class="benefit-card">
          <figure>
            <i class="fas fa-lightbulb"></i>
          </figure>
          <span class="benefit-content">Keeping your memories: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</span>
        </div>
        <div class="benefit-card">
          <figure>
            <i class="fas fa-lightbulb"></i>
          </figure>
          <span class="benefit-content">Keeping your memories: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</span>
        </div>
        <div class="benefit-card">
          <figure>
            <i class="fas fa-lightbulb"></i>
          </figure>
          <span class="benefit-content">Keeping your memories: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</span>
        </div>
        <div class="benefit-card">
          <figure>
            <i class="fas fa-lightbulb"></i>
          </figure>
          <span class="benefit-content">Keeping your memories: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</span>
        </div>
      </div>
    </div>
    <div class="benefits-pic-container col-lg-5 col-md-5 col-12">
      <img src="https://images.unsplash.com/photo-1531487488304-2ec4bd9788f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Journaling">
    </div>
  </div>
</div>

<div class="reviews-section">
  <div class="reviews-container-header">
    <h4>What our users say</h4>
  </div>

  <div class="reviews-list row justify-content-center">
    <div class="review-container col-11">
      <div class="review-card">
        <p class="review-content">JRNLD helps me to learn from the past and to reflect on the most significant moments in life.</p>
        <p class="review-name">Laura Demeysonnet</p>
      </div>
    </div>
    <div class="review-container col-11">
      <div class="review-card">
        <p class="review-content">I've never been good with keeping up with journals, but with JRNLD I haven't missed a day!</p>
        <p class="review-name">Tom Jefferson</p>
      </div>
    </div>
    <div class="review-container col-11">
      <div class="review-card">
        <p class="review-content">JRNLD has made me improve my daily life - best app I've downloaded!</p>
        <p class="review-name">Karim Mud</p>
      </div>
    </div>
  </div>
</div>
